@import url('https://fonts.cdnfonts.com/css/modern-typewriter');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: white;
}

body {
    background-color: rgb(15, 15, 15);
}

.top {
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-family: 'MODERN TYPEWRITER', sans-serif;
    background-color: black;
}

.top>.right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100vw;
}

.top>.right>a {
    margin: 0 10px 0 10px;
}

a {
    text-decoration: underline;
}

.main {
    padding: 1rem;
}

ul {
    margin-left: 1.5rem;
}

.article > h1 {
    margin-bottom: 8px;
}

.main {
    font-family: 'Courier New', Courier, monospace
}

.article {
    margin-bottom: 2rem;
}

.project {
    margin-bottom: 10px;
}

h1 {
    font-size: 3.5vw;
}

@media screen and (min-width: 1000px) {
    h1 {
       font-size: 35px;
    }
  }

